# Profile: prod (Production Release)
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# Disable LVGL Logging for Max Performance & Flash Savings
CONFIG_LV_USE_LOG=n

# Disable Extra Diagnostic Facilities
CONFIG_FREERTOS_USE_TRACE_FACILITY=n
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=n
